* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6fb;
}

.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.auth-card h2 {
  margin-top: 0;
  text-align: center;
}

.auth-card p {
  text-align: center;
  color: gray;
  margin-bottom: 25px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
}

.auth-card span {
  display: block;
  margin-top: 15px;
  text-align: center;
}

.dashboard {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
}

.task-form {
  display: flex;
  gap: 10px;
  margin: 25px 0;
}

.task-form input {
  flex: 1;
  padding: 12px;
}

.task-form button {
  padding: 12px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
}

.tasks-container {
  display: grid;
  gap: 15px;
}

.task-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.status-pending {
  color: orange;
  font-weight: bold;
}

.status-completed {
  color: green;
  font-weight: bold;
}

.task-actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.task-actions button {
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
}

.delete-btn {
  background: crimson;
  color: white;
}